body {
	background-color: white;
}

.container-fluid > img {
	opacity: 0.9;
    transition: all 700ms;
   	display: block;
	margin-left: auto;
	margin-right: auto;
}
.container-fluid > img:hover{
    opacity: 1.0;
    transform: scale(1.1);
}

.container-fluid {
	background-color:blue;
	

}

img {
	width: 400px;

}


a {
	color:darkblue;
	font-family: garamond;
	font-size:20px;
}

a:hover {
	
	border-bottom:2px solid blue;
   	color:blue;

}

#juneblue>img{
	width: 70px;
}

.container2 {
	display: flex;
	justify-content: space-between;


}

.container2 {
	margin-left: 40px;
}

#carouselExampleControls {
	width: 400px;


}

.list-unstyled {
	width: 800px;

}

.listan {
	display: flex;
	justify-content: center;

}

.listan li {
	border:2px solid blue;
	padding: 20px;
}

h5 {
	font-family: garamond;
}

li {
	font-family: garamond;
	
}

.container-fluid2 {
	background-color:blue;
	

}
button {
  background-color: blue;
  border:2px solid white;
  border-radius: 20px;
  color: white;
  padding: 12px 32px;
  font-size: 19px;
  font-family: garamond;
  transition: all 500ms;

}

button:hover {
	background-color: white;
	color:blue;
}

.container-fluid2 > .button {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	
}

.container3 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#junepics > img {
	margin: 13px;
}

