body {
	background-color: white;
}

.container-fluid > img {
	opacity: 0.9;
    transition: all 700ms;
   	display: block;
	margin-left: auto;
	margin-right: auto;
}
.container-fluid > img:hover{
    opacity: 1.0;
    transform: scale(1.1);
}

.container-fluid {
	background-color:blue;
}

img {
	width: 400px;

}


a {
	color:darkblue;
	font-family: garamond;
	font-size:20px;
}

a:hover {
	
	border-bottom:2px solid blue;
   	color:blue;

}

#juneblue>img{
	width: 70px;
}

.container2 {
	display: flex;
	justify-content: space-between;


}

.container2 {
	margin-left: 40px;
}

#carouselExampleControls {
	width: 400px;


}

.list-unstyled {
	width: 800px;

}

.listan {
	display: flex;
	justify-content: center;

}

.listan li {
	border:2px solid blue;
	padding: 20px;
}

h5 {
	font-family: garamond;
}

li {
	font-family: garamond;
	
}

.signup {
  background-color: white;
  border:2px solid blue;
  border-radius: 20px;
  color: blue;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  font-family: garamond;
  transition: all 900ms;

}

.clear {
	text-align: center;
}


.signup:hover {
	background-color: blue;
	color:white;


}

#mc_embed_signup {
	display: flex;
	justify-content: center;

}

list-group-flush {
	display: flex;
	flex-direction: row;

}

.container-button > input {
	display: flex;
	justify-content: center;
	

}
